.body{
    background-image: url(back.jpg)
;
    width:100%;
    height:900px;
    background-repeat:no-repeat;
    background-size:cover;
    
    background-attachment: fixed;


}
.login{
    width:20%;
    height: 250px;
background:rgba(0,0,0,.7);
text-align: left;
    position: absolute;
    top:60%;
 right: 390px;
   
    padding: 80px;
    padding-top:170px;
}
.head{
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,.7);
background-attachment: fixed;
}
.img{
    width: 16%;
    height: 97px;
    position: absolute;
    left: 180px;
    top:1px;
}
#icon2{width: 40%;
height:80px;
position: absolute;
    
    left:400px;
    top:10px;
    border-radius: 10%;
}
#log{
    float: right;

    margin: 10px;
    border: none
;
    outline:none;
    background-color:red;
  
    border-radius: 15%;

}

#log:hover{background-color: green;
}



.im{
    width: 16%;
    height: 97px;
    position: absolute;
  right: 150px;
    top:1px;}
.footer{
    background-color: black;
    width: 100%;
    height: 50px;}
p{color: red;}
input{padding: 10px;
text-align: center;}



/*main kam yha se hai*/

.log{ 
width:200px;
height:230px;
position:absolute;
top:calc(-20%/2);
    right:20%;}
.id{width: 100%;
height: 40px;
margin: 10px;
    border: NONE;
    border-bottom: 2px solid;
    background: transparent;
    font-size: 17px;
    
}
#logins{
    width: 100%;
    height: 40px;
    margin: 10px;
  background-color:red;
    border-radius: 10%;
    font-size: 16px;
    border:none;
    outline: none;
}
span{
    float: right;
}
button:hover{
  background-color: greenyellow;
}
#logins:hover{color: greenyellow}
.pc{width: 100%;
    
height: 50px;
background-attachment: fixed;

background: rgba(100,56,30,.5);
text-align: center;}
UL{ display: block;

    padding: 0;

}
li{width: 150px;
    margin-right: 10px;
    display:  inline-block; line-height:  50px;
}
li:hover{background-color: forestgreen;}
a{ font-size:16px;
    color:yellow;
    text-decoration-color: none;
    text-decoration: none;
    
    
}
#menu{
    width: 10px;
    height: 10px;
}
#men{ 
    padding: 5px; margin: 10px;}
#men:hover{background-color: aqua;}



 .head  span{color: red;
    font-size: 90px;
     position: absolute;
     right:30% ;
}